/* Store styles */
table {
  background: green;
  width: 100%;
  border: 1px solid black;
}

td {
   padding: 5px;
   margin: 5px;
   background: rgba(245, 184, 0, 0.5);
   color: white;
   width: 150px;
   height: 150px;
   text-align: center;
}
h2 {
    background: rgba(245, 184, 0, 0.3);
    padding: 5px;
    text-align: center;
}

h3 {
    text-align: center;
}

#ball {
   position: absolute;
   width: 50px;
   height: 50px;
   border-radius: 50px;
   background: red;
}

#ballC {
   position: absolute;
   width: 50px;
   height: 50px;
   border-radius: 50px;
   background: blue;
}


#footer {
    text-align: center;
    margin: 5px;
}
#footer img {
  padding: 5px;
  width: 50px;
  height: 30px;
}

@media screen and (orientation: landscape) {
table {
    width: 100%;
}
   td {
      width: 200px;
      height: 75px;
   }
}