/*Store Styles*/


table {
    background: green;
    width: 100%;
    border: 1px solid black;
}
td,th { text-align:  center;
	padding: 5px;
	white-space: nowrap;
    background: rgba(120,120,120, 0.5);
    color: white;
    width: 150px;
    height: 150px;
 }
 
 #credit-card {width: 300px;
		text-align: center;
    
 }
 
 #credit-card img {
    width: 32px;
    height: 32px;
 }
 
 h3 {
    text-algin: center;
 }
 
@media screen and (orientation:landscape) {
    td {
        width: 200px;
        height: 75px;
    }

    }